/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 26, 2022
   Description: CSS Stylesheet for Todo List project.
******************************************************************************/
* {
    margin: 0;
    padding: 0;
}