/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 26, 2022
   Description: CSS Stylesheet for Todo List project.
******************************************************************************/
* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.footer {
    border: solid black 1px;
    height: 100px;

    padding-top: 15px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.footer-text {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.footer-text:first-of-type {
margin-top: 1px;
}

.footer-text:last-of-type {
margin-bottom: 1px;
}

h4 {
    margin-top: 10px;
}

.header {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    border: solid black 1px;
}

.logo-icons {
    height: 99px;
}

.main {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.side-bar {
    border: solid black 1px;
}

.title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center
}

@media only screen and (min-width: 700px) {
    .header {
        flex-direction: row;
    }

    .logo-container, .side-bar {
        width: 300px;
    }

    .logo-container, .title {
        height: 100px;
    }

    .main {
        flex-direction: row;
    }
}