/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 26, 2022
   Description: CSS Stylesheet for Todo List project.
******************************************************************************/
:root {
    --link-and-button-color: rgb(43, 194, 194);
    --page-background: rgb(233, 228, 219);
    --side-bar-border: rgb(158, 150, 150);
}

* {
    margin: 0;
    padding: 0;
}

.add-button-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.add-item-button {
    margin-right: auto;
    margin-left: 20px;
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: var(--link-and-button-color);
    font-size: 45px;

    /* Horizontally align text in center. */
    text-align: center;
    /* Vertically align text in center. */
    line-height: 50px;
}

.add-note-button-row {
    margin-top: 15px;
}

.add-project-button {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

.add-todo-button {
    width: 290px;
}

.add-note-button,
.add-project-button,
.add-todo-button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 5px;

    padding: 10px 40px;
    cursor: pointer;
}

.add-note-button:active,
.add-project-button:active,
.add-todo-button:active {
    background-color: #407FC7;
}
.add-note-button:hover,
.add-project-button:hover,
.add-todo-button:hover {
    background-color: #76AEED;
}

.add-todo-button-container {
    margin: 15px auto;
}

.bg-modal,
.todo-item-details-bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

body {
    background-color: var(--page-background);
}

.buttons-form-row {
    display: flex;
    flex-direction: column;
}

.categories {
    display: flex;
    flex-direction: row;
}

/* Close button for modal. */
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
}

.content {
    display: flex;
 
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    margin-top: auto;
    background: url('../images/pexels-the-happiest-face.jpg');
    color: whitesmoke;


    padding-top: 15px;
    padding-bottom: 30px;
}

.footer-link:link {
    color: whitesmoke;
}

.footer-link:visited {
    color: whitesmoke;
}

.footer-link:hover {
    color: whitesmoke;
}

.footer-text {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.footer-text:first-of-type {
    margin-top: 1px;
}

.footer-text:last-of-type {
    margin-bottom: 1px;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='date'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 95%;
    padding: 7px;
    font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='date']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row label {
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-row select {
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

h1 {
    color: whitesmoke;
}

h4 {
    margin-top: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    background: url('../images/pexels-the-happiest-face.jpg');
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icons {
    height: 99px;
}

.main {
    min-height: 700px;
    display: flex;
    flex-direction: column;
}

.modal-content {
    border: solid black 1px;
    border-radius: 10px;
    width: 350px;
    position: fixed;
    top: 10%;
    /* Need this for close button. */
    position: relative;
}

.modal-form {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.modal-main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.modal-page-link {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;;
}

.modal-sidebar {
    
    background-color: var(--page-background);
    display: flex;
    justify-content: space-between;
}

.modal-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.modal-title-container,
.todo-item-confirm-delete-title-container,
.todo-item-details-modal-title-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--link-and-button-color);
    display: flex;
    flex-direction: row;
}

.notes-form {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 450px;
}

.priority-buttons-container {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.priority-button {
    margin-top: 5px;
    width: 85px;
    height: 30px;
    position: relative;
}

.priority-button label,
.priority-button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.priority-button input[type='radio'] {
    opacity: 0.011;
    z-index: 100;
}

.priority-button .priority-button-label {
    width: 100%;
    height: 100%;

    /* Horizontally align text in center. */
    text-align: center;
    /* Vertically align text in center. */
    line-height: 30px;
}

/* Not in alphabetical order because things break for some reason. */
.low-priority-button-container {
    border: solid green 1px;
    border-radius: 5px;
}

.low-priority-button-container input[type='radio'] + label {
    border-radius: 5px;
    color: green;
    background-color: white;
}

.low-priority-button-container input[type='radio']:checked + label {
    color: white;
    background-color: green;
}

.medium-priority-button-container {
    border: solid orange 1px;
    border-radius: 5px;
}

.medium-priority-button-container input[type='radio'] + label {
    border-radius: 5px;
    color: orange;
    background-color: white;
}

.medium-priority-button-container input[type='radio']:checked + label {
    color: white;
    background-color: orange;
}

.high-priority-button-container {
    border: solid red 1px;
    border-radius: 5px;
}

.high-priority-button-container input[type='radio'] + label {
    border-radius: 5px;
    color: red;
    background-color: white;
}

.high-priority-button-container input[type='radio']:checked + label {
    color: white;
    background-color: red;
}

.project-name {
    padding: 11px 0;
    margin-left: 50px;
}

.project-list-item {
    border: solid var(--link-and-button-color) 2px;
    border-radius: 5px;

    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
}

.project-list-item-icon {
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.project-list-item-icons-container {
    margin-left: auto;
    margin-right: 15px;
}

.project-list-item-title {
    margin-left: 15px;
    font-size: 20px;
    /* Vertically align text in center. */
    line-height: 40px;
}

.project-row {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
}

.side-bar {
    border-bottom: solid var(--side-bar-border) 3px;
}

.side-bar-label {
    margin-left: 20px;
    margin-right: auto;
    padding: 11px 0;
    width: 50%;
}

#side-bar-projects-row {
    display: flex;
    flex-direction: column;
}

.side-bar-row {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
}

.side-bar-task-count {
    margin-left: auto;
    margin-right: 20px;

    background-color: var(--link-and-button-color);
    border-radius: 50%;

    height: 50px;
    width: 50px;
    
    /* Horizontally align text in center. */
    text-align: center;
    /* Vertically align text in center. */
    line-height: 50px;
}

.tasks-container {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 12px;
    width: 95%;
}

.title {
    height: 100px;
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    align-items: center
}

.todo-item {
    border-radius: 5px;

    width: 100%;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
}

.todo-item-cancel-delete-button {
    margin: 20px;
    width: 130px;
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

.todo-item-cancel-delete-button:hover {
    background-color: #76AEED;
}
  
  .todo-item-cancel-delete-button:active {
    background-color: #407FC7;
}

.todo-item-cancel-delete-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item-description {
    height: 240px;
}

.todo-item-date {
    width: 100px;
}

.todo-item-date,
.todo-item-icon {
    margin-left: 10px;
}

.todo-item-delete-message {
    margin: 15px;
    font-size: 18px;
}

.todo-item-delete-modal-content {
    border: solid black 1px;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    background-color: white;
    top: 50%;

    /* Need this for close button. */
    position: relative;
}

.todo-item-details-button {
    font-size: 15px;
    width: 90px;
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;

    cursor: pointer;
  }
  
  .todo-item-details-button:hover {
    background-color: #76AEED;
  }
  
  .todo-item-details-button:active {
    background-color: #407FC7;
  }

.todo-item-details-button,
.todo-item-icon {
    height: 25px;
    margin-top: 5px;
}

.todo-item-details-content {
    margin: 10px;
    font-size: 18px;
}

.todo-item-details-modal-content {
    border: solid black 1px;
    border-radius: 10px;
    width: 450px;
    height: 420px;
    background-color: white;
    top: 50%;

    /* Need this for close button. */
    position: relative;
}

.todo-item-left-side,
.todo-item-right-side {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.todo-item-medium-priority {
    border: solid orange 2px;
}

.todo-item-low-priority {
    border: solid green 2px;
}

.todo-item-high-priority {
    border: solid red 2px;
}

.todo-item-text {
    font-size: 20px;
    /* Horizontally align text in center. */
    text-align: center;
    /* Vertically align text in center. */
    line-height: 35px;
}

.todo-item-title span{
    margin-left: 10px;
}

@media only screen and (min-width: 700px) {
    .add-note-button,
    .add-project-button,
    .add-todo-button {
        width: 100px;
        height: 35px;
        margin-top: 8px;
        position: absolute;
        right: 20px;
    }
    
    .buttons-form-row {
        flex-direction: row;
        margin-bottom: 15px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start; /* To avoid stretching. */
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .form-row input[type='text'] {
        width: 100%;
        height: initial;
    }

    .form-row input[type='date'] {
        width: 100%;
        height: initial;
    }

    .form-row label {
        text-align: right;
        margin-top: 7px;
        padding-right: 20px;
    }

    .header {
        flex-direction: row;
    }

    .logo-container, .side-bar {
        width: 300px;
    }

    .logo-container, .title {
        height: 100px;
    }

    .main {
        flex-direction: row;
    }

    .modal-content {
        top: 0;
        width: 600px;
    }

    .modal-form {
        margin-left: 20px;
    }

    .modal-main {
        height: 91%;
        flex-direction: row;
    }

    .modal-sidebar {
        border-bottom-left-radius: 10px;
        justify-content: flex-start;
        width: 115px;
        flex-direction: column;
    }

    .priority-buttons-container {
        width: 300px;
    }
    
    #projects-title {
        width: 456.52px; 
    }

    .side-bar {
        min-width: 300px;
        border-right: solid var(--side-bar-border) 3px;
        border-bottom: none;
    } 
    
    .todo-item-delete-modal-content,
    .todo-item-details-modal-content {
        top: 0;
    }
}

@media only screen and (min-width: 970px) {
    .todo-item {
        height: 40px;
        flex-direction: row;
    }

    .todo-item-left-side,
    .todo-item-right-side {
        margin-top: 3px;
    }

    .todo-item-left-side {
        margin-right: auto;
    }

    .todo-item-right-side {
        margin-left: auto;
        margin-right: 15px;
    }
}

@media only screen and (max-height: 500px) {
    .modal-content {
        top: 50%;
    }

    .todo-item-delete-modal-content,
    .todo-item-details-modal-content {
        top: 25%;
    }
}